<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>250061143122-25edd8js227jupssd25onn9v2abk848u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250061143122-25edd8js227jupssd25onn9v2abk848u</string>
	<key>API_KEY</key>
	<string>AIzaSyAqmMCS_DEWiLVfr7FdWhT37o9yUjGDXsI</string>
	<key>GCM_SENDER_ID</key>
	<string>250061143122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.rohitravi.FTCCommApp</string>
	<key>PROJECT_ID</key>
	<string>ftcapp-54f24</string>
	<key>STORAGE_BUCKET</key>
	<string>ftcapp-54f24.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250061143122:ios:a46bc146eecb1f8fb5338b</string>
	<key>DATABASE_URL</key>
	<string>https://ftcapp-54f24.firebaseio.com</string>
</dict>
</plist>